In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords 
from nltk.tokenize import WordPunctTokenizer

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
# This is from Google Review
df = pd.read_csv('GoogleReview_data_cleaned.csv')

# This is from Tripasor Review
# df = pd.read_csv('TripAdvisor_data_cleaned.csv')
df = df[['Author', 'Rating', 'Review', 'Restaurant', 'Location']]


df.head()

,Author,Rating,Review,Restaurant,Location
0,Jia Pin Lee,4.0,Came here for the High Tea. Great service espe...,Cuisines Restaurant,Ipoh
1,Chui Yi Lum,2.0,"5 stars for the service, even though some of t...",Cuisines Restaurant,Ipoh
2,liezel wong,1.0,"Hi, thank you for your service. But! i feel so...",Cuisines Restaurant,Ipoh
3,Nazri Nor,1.0,I have the worse buffer dinner ever so far. Th...,Cuisines Restaurant,Ipoh
4,Fakru Imran's Channel,5.0,"That's are Known 5 Elmark "" 9H72 "" & KDK "" 3 K...",Cuisines Restaurant,Ipoh

In [5]:
#Check Null values in Dataframe
df.isnull().sum()

Author        0
Rating        0
Review        0
Restaurant    0
Location      0
dtype: int64

In [6]:
df.shape

(222020, 5)

In [7]:
# Copy/Prepare data
df_data = df[['Author', 'Review', 'Rating', 'Restaurant', 'Location']]
df.head()

,Author,Rating,Review,Restaurant,Location
0,Jia Pin Lee,4.0,Came here for the High Tea. Great service espe...,Cuisines Restaurant,Ipoh
1,Chui Yi Lum,2.0,"5 stars for the service, even though some of t...",Cuisines Restaurant,Ipoh
2,liezel wong,1.0,"Hi, thank you for your service. But! i feel so...",Cuisines Restaurant,Ipoh
3,Nazri Nor,1.0,I have the worse buffer dinner ever so far. Th...,Cuisines Restaurant,Ipoh
4,Fakru Imran's Channel,5.0,"That's are Known 5 Elmark "" 9H72 "" & KDK "" 3 K...",Cuisines Restaurant,Ipoh

In [8]:
# Consider only those author who have rated more than 10 restaurants and those restaurant which are having at least 20 ratings
x = df_data.groupby('Author').count()['Rating'] > 10
quality_author  = x[x].index

df_data = df_data[df_data['Author'].isin(quality_author)]

y = df_data.groupby('Restaurant')['Rating'].count() >= 20
famous_restaurants = y[y].index

final = df_data[df_data['Restaurant'].isin(famous_restaurants)]

final.head(20)

,Author,Review,Rating,Restaurant,Location
69,Secret Moments,Nice foods with comfort environment in Tandoor...,5.0,Tandoor Grill,Ipoh
85,Adelena Dass,Best north Indian dishes in town!! Best place ...,5.0,Tandoor Grill,Ipoh
93,Andrew Lee,Fantastic Indian establishment! I highly recom...,5.0,Tandoor Grill,Ipoh
98,Inês Pereira,"Delicious food! Required more staff, when crow...",4.0,Tandoor Grill,Ipoh
108,Benjamin Bromberg,Fantastic food and great service. Will definit...,5.0,Tandoor Grill,Ipoh
109,Kames Logan,This is review 1.1 an update from my previous ...,5.0,Tandoor Grill,Ipoh
143,Victor Lim,Nice ambience for a big or small groups as it ...,3.0,Tandoor Grill,Ipoh
148,ck lee,Nice food with good dining ambiance,4.0,Tandoor Grill,Ipoh
159,Lisa Khor,Food was good. But the services no1. Table of ...,1.0,Tandoor Grill,Ipoh
192,Adr ian,A good place for northern indian food. Classy ...,4.0,Tandoor Grill,Ipoh
197,Michael Min,One of the best Indian restaurants I have been...,5.0,Tandoor Grill,Ipoh
231,KAH LIM WONG,"The food n place is good, for those who like s...",5.0,Tandoor Grill,Ipoh
253,Wong Max,"Good food, reasonable price, clean place.",5.0,Tandoor Grill,Ipoh
265,Pravin Kanesh Arumugam,Totally not value for your money. Awful and ho...,1.0,Tandoor Grill,Ipoh
273,Raymond Koh,"Excellent Food, like the papadam with mint sau...",5.0,Tandoor Grill,Ipoh
298,D Wind,One of the best indian restaurants. Their but...,4.0,Tandoor Grill,Ipoh
300,Sharon Gabriel,Delicious and cosy ambiance. Recommended for f...,5.0,Tandoor Grill,Ipoh
306,Jenny Chan,Nice environment n foods,5.0,Tandoor Grill,Ipoh
312,danny 87,Food is top notch. Have been to Ipoh many time...,5.0,Tandoor Grill,Ipoh
322,SIVA PRABHU SUNTHRA SAKARAN,"Nice food, good ambience.",4.0,Tandoor Grill,Ipoh

In [9]:
# Create a pivot table: Restaurant as index, Author as column, Rating as value
# Calculate similarity score between restaurants using cosine_similarity function

pt = final.pivot_table(index = 'Restaurant', columns = 'Author', values = 'Rating').fillna(0)
pt.head(5)

Author,5525 Gunner,6od5p33d,A 10,A K,A L,A P,A Y,A.,A.L Lim,AL Lim,...,κεηηγsκ,さなえ,パイパイ,レミィRemmy,兴哥Heng Gor,几米林Jimmy,小虫WeiXiang,暝纥Enoch,洪佳武,纯粹享
Restaurant,,,,,,,,,,,,,,,,,,,,,
16th St. Cafe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28 Food Centre,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33 Blue Room,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
362 Heong Peah 362炭烧香饼,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7 Spice,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# Using cosine similarity metrics
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(pt)

def recommend(restaurantName):
    index = np.where(pt.index == restaurantName)[0][0]
    similar_restaurants = sorted(enumerate(similarity_scores[index]),key= lambda x: x[1], reverse =True)[1:6]
    
    for i in similar_restaurants:
        print(pt.index[i[0]])

NameError: name 'similar_restaurants' is not defined

In [11]:
similarity_scores

array([[1.        , 0.02563365, 0.        , ..., 0.        , 0.        ,
        0.03137508],
       [0.02563365, 1.        , 0.03147948, ..., 0.04542827, 0.04084478,
        0.        ],
       [0.        , 0.03147948, 1.        , ..., 0.04118568, 0.08678963,
        0.        ],
       ...,
       [0.        , 0.04542827, 0.04118568, ..., 1.        , 0.        ,
        0.04337058],
       [0.        , 0.04084478, 0.08678963, ..., 0.        , 1.        ,
        0.        ],
       [0.03137508, 0.        , 0.        , ..., 0.04337058, 0.        ,
        1.        ]])

In [12]:
similarity_scores.shape

(420, 420)

In [13]:
recommend("Dancing Fish")

The Ming Room 名城酒家
Din Tai Fung 鼎泰豐 at The Gardens Mall
Kayra Authentic Kerala Cuisine @Bangsar Village
Cor Blimey British Fish and Chips (Damansara Uptown)
La Boca Latino Bar

In [14]:
recommend("After Black")

Restaurant Ban Lee Siang
Antipodean @ Atria
Nancy's Kitchen
March Azalea Kitchen
Antipodean Cafe

In [15]:
recommend("Din Tai Fung 鼎泰豐 at 1 Utama Shopping Centre")

Din Tai Fung 鼎泰豐 at The Gardens Mall
Thai Hou Sek @ 1 Utama
Table & Apron
DC Restaurant
UROKO Japanese Cuisine

In [22]:
# Using cosine similarity metrics
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(pt)

def recommend(restaurantName):
    index = np.where(pt.index == restaurantName)[0][0]
    similar_restaurants = sorted(enumerate(similarity_scores[index]),key= lambda x: x[1], reverse =True)
    
    for i in similar_restaurants:
        print(pt.index[i[0]])

In [28]:
similarity_scores = cosine_similarity(pt)

index = np.where(pt.index == "After Black")[0][0]
similar_restaurants = sorted(enumerate(similarity_scores[index]),key= lambda x: x[1], reverse =True)

similar_restaurants

[(6, 1.0),
 (270, 0.17093429698742052),
 (15, 0.14947833402795319),
 (217, 0.14599447664678164),
 (192, 0.13677530110804828),
 (17, 0.12778076106105987),
 (22, 0.12370857840031563),
 (326, 0.11997563517766854),
 (214, 0.11973018608653986),
 (181, 0.11614766333760625),
 (269, 0.10888623497874521),
 (278, 0.10887786996108006),
 (377, 0.10332848037148004),
 (28, 0.09892427672768718),
 (97, 0.09659092088013585),
 (235, 0.09646651336220545),
 (241, 0.09326958300862695),
 (200, 0.09190182776172597),
 (170, 0.09143579700806714),
 (71, 0.09075168012986737),
 (311, 0.08971471580693186),
 (111, 0.08962214298964416),
 (264, 0.0873704056661038),
 (106, 0.08703249857174102),
 (221, 0.08690837911446843),
 (139, 0.08476366113149054),
 (387, 0.08446717229993575),
 (63, 0.08295018954139965),
 (376, 0.08112327500571223),
 (180, 0.07997867519620919),
 (317, 0.0799684453457937),
 (157, 0.07950376313029447),
 (386, 0.0782799542363719),
 (411, 0.07802186755377293),
 (81, 0.07784110748380277),
 (148, 0.07714020141868144),
 (184, 0.0771074331723881),
 (159, 0.07652672987162869),
 (314, 0.07579238282385405),
 (113, 0.07028622602048248),
 (40, 0.07022689737529585),
 (335, 0.06980148764339121),
 (349, 0.06941056083938048),
 (67, 0.06752647556865185),
 (390, 0.06731806632978003),
 (24, 0.06648093032692497),
 (196, 0.06541136658047174),
 (321, 0.06502025824584144),
 (254, 0.06475727835002179),
 (226, 0.06367145399670132),
 (29, 0.06287960649090114),
 (385, 0.06237828615518054),
 (383, 0.062219681735097884),
 (261, 0.062032280693231384),
 (26, 0.06186602822046861),
 (286, 0.061858957413174195),
 (402, 0.0618439518440098),
 (176, 0.06106358143339054),
 (13, 0.060858061945018464),
 (332, 0.06055677517630516),
 (110, 0.06005252337859658),
 (274, 0.05925834624880983),
 (234, 0.05873943115156355),
 (2, 0.05783149319662403),
 (72, 0.057786547027549665),
 (237, 0.05618082810501349),
 (232, 0.05602058924375467),
 (198, 0.055756688299749654),
 (210, 0.05449096325625855),
 (162, 0.05436519132582199),
 (356, 0.05434622089383539),
 (138, 0.05389445727242466),
 (258, 0.052185357590429124),
 (47, 0.05107095108632463),
 (319, 0.05106533241079344),
 (298, 0.05101063613274914),
 (182, 0.0508735719276567),
 (374, 0.05081097906755771),
 (405, 0.05056712213231771),
 (328, 0.0502307543200643),
 (7, 0.04995755411084839),
 (60, 0.049507377148833714),
 (155, 0.049174469050480916),
 (333, 0.049040823861374976),
 (163, 0.04896302239959312),
 (380, 0.048850865146712434),
 (20, 0.048788034425988926),
 (160, 0.048354904432138295),
 (219, 0.04815105870010669),
 (346, 0.047997466415009515),
 (399, 0.04746431431759783),
 (281, 0.04739747449930105),
 (118, 0.04729202948659715),
 (96, 0.0472874608704935),
 (248, 0.04714196064598129),
 (56, 0.04662118657203828),
 (364, 0.04624280546815524),
 (9, 0.04615972875305498),
 (308, 0.045790310652485205),
 (268, 0.045615045958664446),
 (190, 0.04526045388279737),
 (38, 0.04456476669131156),
 (283, 0.04448004272363531),
 (133, 0.044396640200764705),
 (93, 0.04397920113757803),
 (66, 0.043603729987717076),
 (204, 0.043452312226839436),
 (352, 0.043431062419279506),
 (353, 0.04273504273504274),
 (419, 0.04164064938865897),
 (279, 0.041504853757646024),
 (287, 0.041494819014776266),
 (288, 0.04121828056912483),
 (252, 0.0410959289697394),
 (340, 0.04045980860229364),
 (140, 0.04019858918291231),
 (207, 0.03995208622756209),
 (178, 0.039920875397108625),
 (272, 0.03988656436765212),
 (48, 0.03959425806109991),
 (360, 0.03948161413992786),
 (116, 0.03913901819282184),
 (105, 0.03896748039928435),
 (276, 0.038880789567986955),
 (35, 0.03858660534488218),
 (228, 0.03783362358927772),
 (31, 0.03777486782596872),
 (397, 0.037655769910380686),
 (46, 0.037473295154622846),
 (218, 0.037398925738766686),
 (43, 0.037367579722246934),
 (371, 0.03688555567816587),
 (23, 0.03647400912770071),
 (209, 0.03642171661460538),
 (88, 0.036118720923303614),
 (316, 0.035986126423960874),
 (295, 0.03596098766684192),
 (76, 0.03593120370908637),
 (172, 0.035885886322772745),
 (343, 0.0356603130106627),
 (183, 0.034954833672871756),
 (195, 0.03467890065548072),
 (109, 0.03431991115272901),
 (21, 0.033790485389764695),
 (143, 0.03342033947136224),
 (256, 0.033065756709562855),
 (175, 0.03244321703261814),
 (400, 0.032349978899859515),
 (64, 0.032292999588521845),
 (329, 0.03203943533786635),
 (50, 0.03171907120465377),
 (33, 0.03170914308949006),
 (121, 0.03141859087864213),
 (294, 0.03131121455425747),
 (89, 0.03127100198801298),
 (407, 0.03124523271953413),
 (213, 0.031168305480812297),
 (284, 0.031168305480812297),
 (79, 0.03114278905780345),
 (239, 0.03100406319370928),
 (379, 0.030500600724778504),
 (327, 0.030471381766800264),
 (194, 0.030429030972509232),
 (375, 0.030278017479698317),
 (388, 0.03019405424385589),
 (8, 0.02993904627238202),
 (30, 0.029520496184669842),
 (154, 0.029145725699277873),
 (299, 0.02897637938998723),
 (12, 0.028960335285704828),
 (412, 0.028240475987519383),
 (87, 0.027370949759951906),
 (260, 0.027319192481192116),
 (134, 0.02713189758521599),
 (273, 0.026619856874997495),
 (222, 0.026560635762986527),
 (146, 0.026405177105186577),
 (285, 0.026403934479377986),
 (391, 0.02542036983694013),
 (249, 0.025373193112388958),
 (75, 0.02519763153394848),
 (80, 0.024916623942630667),
 (350, 0.02490059602779987),
 (191, 0.02466599452747357),
 (416, 0.024441185836892216),
 (275, 0.023942431160175196),
 (230, 0.023649188492020107),
 (62, 0.023532603946871046),
 (244, 0.022821773229381923),
 (253, 0.022435913641577782),
 (382, 0.02238868314198225),
 (417, 0.022255217373611663),
 (370, 0.02129226467441712),
 (297, 0.0202590265969298),
 (301, 0.02017425108896008),
 (392, 0.01949017820682287),
 (257, 0.019326302701127743),
 (136, 0.019116301027576037),
 (384, 0.017633640396464957),
 (342, 0.017493454845625173),
 (10, 0.01688059262273789),
 (320, 0.015291163404532786),
 (365, 0.013961796943056517),
 (52, 0.012220592918446108),
 (344, 0.012091270835166862),
 (44, 0.010519068578892267),
 (16, 0.009266125600031781),
 (137, 0.00867632010492256),
 (101, 0.007062400502512797),
 (177, 0.004378391145772782),
 (201, 0.003195100172913139),
 (0, 0.0),
 (1, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.0),
 (11, 0.0),
 (14, 0.0),
 (18, 0.0),
 (19, 0.0),
 (25, 0.0),
 (27, 0.0),
 (32, 0.0),
 (34, 0.0),
 (36, 0.0),
 (37, 0.0),
 (39, 0.0),
 (41, 0.0),
 (42, 0.0),
 (45, 0.0),
 (49, 0.0),
 (51, 0.0),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (61, 0.0),
 (65, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (73, 0.0),
 (74, 0.0),
 (77, 0.0),
 (78, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (90, 0.0),
 (91, 0.0),
 (92, 0.0),
 (94, 0.0),
 (95, 0.0),
 (98, 0.0),
 (99, 0.0),
 (100, 0.0),
 (102, 0.0),
 (103, 0.0),
 (104, 0.0),
 (107, 0.0),
 (108, 0.0),
 (112, 0.0),
 (114, 0.0),
 (115, 0.0),
 (117, 0.0),
 (119, 0.0),
 (120, 0.0),
 (122, 0.0),
 (123, 0.0),
 (124, 0.0),
 (125, 0.0),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.0),
 (132, 0.0),
 (135, 0.0),
 (141, 0.0),
 (142, 0.0),
 (144, 0.0),
 (145, 0.0),
 (147, 0.0),
 (149, 0.0),
 (150, 0.0),
 (151, 0.0),
 (152, 0.0),
 (153, 0.0),
 (156, 0.0),
 (158, 0.0),
 (161, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (171, 0.0),
 (173, 0.0),
 (174, 0.0),
 (179, 0.0),
 (185, 0.0),
 (186, 0.0),
 (187, 0.0),
 (188, 0.0),
 (189, 0.0),
 (193, 0.0),
 (197, 0.0),
 (199, 0.0),
 (202, 0.0),
 (203, 0.0),
 (205, 0.0),
 (206, 0.0),
 (208, 0.0),
 (211, 0.0),
 (212, 0.0),
 (215, 0.0),
 (216, 0.0),
 (220, 0.0),
 (223, 0.0),
 (224, 0.0),
 (225, 0.0),
 (227, 0.0),
 (229, 0.0),
 (231, 0.0),
 (233, 0.0),
 (236, 0.0),
 (238, 0.0),
 (240, 0.0),
 (242, 0.0),
 (243, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (250, 0.0),
 (251, 0.0),
 (255, 0.0),
 (259, 0.0),
 (262, 0.0),
 (263, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.0),
 (271, 0.0),
 (277, 0.0),
 (280, 0.0),
 (282, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (296, 0.0),
 (300, 0.0),
 (302, 0.0),
 (303, 0.0),
 (304, 0.0),
 (305, 0.0),
 (306, 0.0),
 (307, 0.0),
 (309, 0.0),
 (310, 0.0),
 (312, 0.0),
 (313, 0.0),
 (315, 0.0),
 (318, 0.0),
 (322, 0.0),
 (323, 0.0),
 (324, 0.0),
 (325, 0.0),
 (330, 0.0),
 (331, 0.0),
 (334, 0.0),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (341, 0.0),
 (345, 0.0),
 (347, 0.0),
 (348, 0.0),
 (351, 0.0),
 (354, 0.0),
 (355, 0.0),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (361, 0.0),
 (362, 0.0),
 (363, 0.0),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.0),
 (372, 0.0),
 (373, 0.0),
 (378, 0.0),
 (381, 0.0),
 (389, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (398, 0.0),
 (401, 0.0),
 (403, 0.0),
 (404, 0.0),
 (406, 0.0),
 (408, 0.0),
 (409, 0.0),
 (410, 0.0),
 (413, 0.0),
 (414, 0.0),
 (415, 0.0),
 (418, 0.0)]

In [ ]:
similar_restaurants[similar_restaurants["Location"] == "Ipoh"].head(5)

for i in similar_restaurants:
        print(pt.index[i[0]])

In [62]:
from sklearn.metrics.pairwise import linear_kernel
similarity_scores_lk = linear_kernel(pt)
def recommendByLin(restaurantName):
    index = np.where(pt.index== restaurantName)[0][0]
    similar_restaurants = sorted(enumerate(similarity_scores_lk[index]), key = lambda x: x[1], reverse = True)[1:]
    newdata = restaurants_data
#     print(similar_restaurants)
    indices = list()
    for i in similar_restaurants:
        newdata["Score"] = pt.index[i[1]]
#         print(pt.index[i[0]])
        indices.append(pt.index[i[0]])

    newdata = restaurants_data[restaurants_data['Location'] == 'KL']
    newdata = newdata.sort_values('Score', ascending = False).head(10)
    print(newdata)
    return indices

In [63]:
# Get the restaurants in this dataset without duplicates
restaurants_data = df.drop_duplicates(subset=['Restaurant'])
# no. of restaurants = 420
restaurants_data = restaurants_data.reset_index()

In [64]:
print("Recommend Using Linear Kernel")
indices = recommendByLin('Dancing Fish')
similar_restaurants = pd.DataFrame(columns=['Author', 'Rating', 'Review', 'Restaurant', 'Location'])
for i in range(len(indices)):
    similar_restaurants = similar_restaurants.append(restaurants_data[restaurants_data['Restaurant'] == indices[i]], ignore_index = True)
# similar_restaurants
#     print(restaurants_data.iloc[indices[i]])

Recommend Using Linear Kernel
[(356, 212.0), (80, 198.0), (12, 143.0), (110, 136.0), (146, 130.0), (162, 123.0), (239, 121.0), (38, 120.0), (15, 112.0), (65, 111.0), (30, 108.0), (347, 106.0), (384, 96.0), (139, 94.0), (154, 93.0), (28, 92.0), (163, 90.0), (19, 88.0), (24, 86.0), (214, 85.0), (184, 82.0), (195, 82.0), (16, 81.0), (287, 81.0), (317, 80.0), (291, 79.0), (204, 78.0), (17, 76.0), (319, 76.0), (366, 76.0), (40, 75.0), (253, 74.0), (244, 73.0), (344, 73.0), (172, 71.0), (297, 70.0), (412, 69.0), (288, 68.0), (57, 66.0), (332, 66.0), (241, 65.0), (254, 65.0), (260, 65.0), (262, 65.0), (376, 65.0), (122, 64.0), (221, 64.0), (237, 62.0), (133, 61.0), (354, 61.0), (67, 60.0), (71, 60.0), (93, 60.0), (144, 60.0), (301, 60.0), (275, 59.0), (61, 57.0), (85, 57.0), (165, 57.0), (285, 57.0), (79, 56.0), (92, 56.0), (329, 56.0), (248, 54.0), (266, 54.0), (159, 52.0), (167, 52.0), (229, 52.0), (310, 52.0), (405, 52.0), (87, 51.0), (185, 51.0), (56, 50.0), (148, 50.0), (149, 50.0), (352, 50.0), (70, 49.0), (104, 49.0), (178, 48.0), (379, 48.0), (225, 46.0), (33, 45.0), (106, 45.0), (164, 45.0), (169, 45.0), (328, 45.0), (389, 45.0), (107, 44.0), (158, 44.0), (194, 44.0), (240, 44.0), (336, 44.0), (372, 43.0), (136, 42.0), (157, 42.0), (256, 42.0), (7, 41.0), (88, 41.0), (113, 41.0), (119, 41.0), (137, 41.0), (160, 41.0), (173, 41.0), (174, 41.0), (180, 41.0), (232, 41.0), (349, 41.0), (395, 41.0), (404, 41.0), (25, 40.0), (47, 40.0), (130, 40.0), (303, 40.0), (296, 38.0), (6, 37.0), (97, 37.0), (210, 37.0), (220, 37.0), (234, 37.0), (35, 36.0), (150, 36.0), (199, 36.0), (200, 36.0), (258, 36.0), (295, 36.0), (315, 36.0), (320, 36.0), (333, 36.0), (346, 36.0), (409, 36.0), (115, 35.0), (127, 35.0), (222, 35.0), (380, 35.0), (381, 35.0), (74, 32.0), (236, 32.0), (334, 32.0), (367, 32.0), (386, 32.0), (217, 31.0), (340, 31.0), (411, 31.0), (335, 30.0), (145, 29.0), (10, 28.0), (82, 28.0), (84, 28.0), (94, 28.0), (183, 28.0), (264, 28.0), (8, 27.0), (224, 27.0), (362, 27.0), (101, 26.0), (9, 25.0), (31, 25.0), (64, 25.0), (73, 25.0), (86, 25.0), (126, 25.0), (138, 25.0), (143, 25.0), (192, 25.0), (211, 25.0), (242, 25.0), (247, 25.0), (281, 25.0), (314, 25.0), (341, 25.0), (351, 25.0), (361, 25.0), (60, 24.0), (249, 24.0), (198, 22.0), (21, 20.0), (22, 20.0), (42, 20.0), (43, 20.0), (44, 20.0), (48, 20.0), (68, 20.0), (78, 20.0), (83, 20.0), (105, 20.0), (109, 20.0), (117, 20.0), (140, 20.0), (188, 20.0), (190, 20.0), (197, 20.0), (208, 20.0), (235, 20.0), (261, 20.0), (269, 20.0), (273, 20.0), (277, 20.0), (290, 20.0), (294, 20.0), (365, 20.0), (368, 20.0), (408, 20.0), (39, 18.0), (76, 17.0), (5, 16.0), (23, 16.0), (98, 16.0), (108, 16.0), (114, 16.0), (118, 16.0), (121, 16.0), (155, 16.0), (170, 16.0), (191, 16.0), (202, 16.0), (243, 16.0), (252, 16.0), (270, 16.0), (276, 16.0), (300, 16.0), (316, 16.0), (357, 16.0), (383, 16.0), (400, 16.0), (407, 16.0), (413, 16.0), (417, 16.0), (11, 15.0), (49, 15.0), (66, 15.0), (103, 15.0), (205, 15.0), (228, 15.0), (238, 15.0), (245, 15.0), (246, 15.0), (282, 15.0), (363, 15.0), (378, 15.0), (401, 15.0), (2, 12.0), (41, 12.0), (166, 12.0), (177, 12.0), (181, 12.0), (215, 12.0), (226, 12.0), (230, 12.0), (345, 12.0), (358, 12.0), (391, 12.0), (393, 12.0), (62, 10.0), (89, 9.0), (128, 9.0), (375, 9.0), (189, 8.0), (268, 6.0), (370, 6.0), (403, 6.0), (385, 5.0), (13, 4.0), (292, 4.0), (311, 4.0), (396, 4.0), (406, 4.0), (179, 2.0), (339, 2.0), (0, 0.0), (1, 0.0), (3, 0.0), (4, 0.0), (14, 0.0), (18, 0.0), (20, 0.0), (26, 0.0), (27, 0.0), (29, 0.0), (32, 0.0), (34, 0.0), (36, 0.0), (37, 0.0), (45, 0.0), (46, 0.0), (50, 0.0), (51, 0.0), (52, 0.0), (53, 0.0), (54, 0.0), (55, 0.0), (58, 0.0), (59, 0.0), (63, 0.0), (69, 0.0), (75, 0.0), (77, 0.0), (81, 0.0), (90, 0.0), (91, 0.0), (95, 0.0), (96, 0.0), (99, 0.0), (100, 0.0), (102, 0.0), (111, 0.0), (112, 0.0), (116, 0.0), (120, 0.0), (123, 0.0), (124, 0.0), (125, 0.0), (129, 0.0), (131, 0.0), (132, 0.0), (134, 0.0), (135, 0.0), (141, 0.0), (142, 0.0), (147, 0.0), (151, 0.0), (152, 0.0), (153, 0.0), (156, 0.0), (161, 0.0), (168, 0.0), (171, 0.0), (175, 0.0), (176, 0.0), (182, 0.0), (186, 0.0), (187, 0.0), (193, 0.0), (196, 0.0), (201, 0.0), (203, 0.0), (206, 0.0), (207, 0.0), (209, 0.0), (212, 0.0), (213, 0.0), (216, 0.0), (218, 0.0), (219, 0.0), (223, 0.0), (227, 0.0), (231, 0.0), (233, 0.0), (250, 0.0), (251, 0.0), (255, 0.0), (257, 0.0), (259, 0.0), (263, 0.0), (265, 0.0), (267, 0.0), (271, 0.0), (272, 0.0), (274, 0.0), (278, 0.0), (279, 0.0), (280, 0.0), (283, 0.0), (284, 0.0), (286, 0.0), (289, 0.0), (293, 0.0), (298, 0.0), (299, 0.0), (302, 0.0), (304, 0.0), (305, 0.0), (306, 0.0), (307, 0.0), (308, 0.0), (309, 0.0), (312, 0.0), (313, 0.0), (318, 0.0), (321, 0.0), (322, 0.0), (323, 0.0), (324, 0.0), (325, 0.0), (326, 0.0), (327, 0.0), (330, 0.0), (331, 0.0), (337, 0.0), (338, 0.0), (342, 0.0), (343, 0.0), (348, 0.0), (350, 0.0), (353, 0.0), (355, 0.0), (359, 0.0), (360, 0.0), (364, 0.0), (369, 0.0), (371, 0.0), (373, 0.0), (374, 0.0), (377, 0.0), (382, 0.0), (387, 0.0), (388, 0.0), (390, 0.0), (392, 0.0), (394, 0.0), (397, 0.0), (398, 0.0), (399, 0.0), (402, 0.0), (410, 0.0), (414, 0.0), (415, 0.0), (416, 0.0), (418, 0.0), (419, 0.0)]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [43]:
newdata = similar_restaurants[similar_restaurants['Location'] == "Petaling Jaya"]
newdata

,Author,Rating,Review,Restaurant,Location,index
1,Jean Loh,1.0,Use to be my favourite restaurant for dim sum ...,The Ming Room 名城酒家,Petaling Jaya,221136.0
4,Sam Chor,5.0,Food was delicious! Due to the popularity of c...,Grub by Ahong & Friends,Petaling Jaya,190350.0
5,renuka d,4.0,Had the banana flower dessert which was very s...,Kayra Authentic Kerala Cuisine @Bangsar Village,Petaling Jaya,192837.0
7,Jia Pin Lee,4.0,Came here on Sunday afternoon and it was very ...,One Half,Petaling Jaya,219986.0
8,Whisky Dev,5.0,I had heard that there was some good roast por...,Boon Signature Roast Pork,Petaling Jaya,203637.0
...,...,...,...,...,...,...
371,Sweety Bhosure,3.0,Definitely a good romantic place to plan any s...,Secret Of Louisiana at the lake,Petaling Jaya,219653.0
384,Mei Yi Yeap,5.0,My favorite sushi place in KL. Their sashimi b...,Sushiya One Utama (Ichiro Sushi Bar),Petaling Jaya,188437.0
399,Yosuke,5.0,"Nice place to chill. Opened space, friendly st...","Tom, Dick & Harry's, Oasis Square",Petaling Jaya,217415.0
400,Madeline Tan,2.0,I went there on Friday for dinner. The steak c...,Tony Roma's,Petaling Jaya,199958.0
414,Dennis Yong,5.0,Super friendly service team with superb food. ...,habanna charbroil steakhouse,Petaling Jaya,213318.0